<mat-card>
  <mat-card-title>Reset your password</mat-card-title>
  <mat-card-subtitle>
    Back to
    <a routerLink="/login"> login</a>.
  </mat-card-subtitle>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput id="email" type="text" formControlName="email">

      <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <div *ngIf="email?.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="email?.errors?.['email']">
          Provided email is invalid
        </div>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" [disabled]="resetPasswordForm.invalid">
      Reset password
    </button>

  </form>
</mat-card>
