/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { color: rgb(141, 105, 170); }

.snack-err { background-color: rgb(253, 143, 143); }
mat-card-subtitle { margin: .25rem 0 !important; }
