@import "src/variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { color: $accent; }

.snack-err { background-color: rgb(253, 143, 143); }
mat-card-subtitle { margin: .25rem 0 !important; }
