@import "src/variables";
:host {

  .details {
    padding: 1rem;
    margin: 1rem 0;
    background: $background-dark;
    border-radius: 5px;

    div {
      margin: 0.25rem 0;
    }
  }

  .highlight {
    color: $accent;
  }
}
